<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contactEmailRot13</key>
	<string>p@puevfgvnaoybpu.pbz</string>
	<key>contactName</key>
	<string>Christian Bloch</string>
	<key>description</key>
	<string>Funque theme</string>
	<key>name</key>
	<string>Funque</string>
	<key>uuid</key>
	<string>D968C8A2-C491-4446-8E1B-5ABB55E2EFA2</string>
</dict>
</plist>
